.cta {
    
    margin-bottom: 2rem;
}
.cta-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 7.8rem 6rem;
    background-color: var(--cl-orange);
    border-radius: 4rem;
}
.cta-btn:hover {
    color: var(--cl-orange);
    background-color: var(--cl-white);
}
.cta-title {
    color: var(--cl-white);
}
 @media screen and (max-width: 991px)  {
    .cta {
        margin-bottom: 1rem;
       
    }
    .cta-title{
        max-width: 45.9rem;
    }
    .cta-title h2 {
        font-size: 4.4rem;
    }
    .cta-inner {
        padding-block: 6rem;
        border-radius: 2rem;
    }
 }
 @media screen and (max-width: 767px)  {
    .cta-btn {
        padding: 1.6rem;
    }
    .cta-title h2 {
        font-size: 3.2rem;
    }
    .cta-inner {
        padding-inline: 3.2rem;
        border-radius: 1.6rem;
        flex-direction: column;
        row-gap: 3.2rem;
        align-items: start;
    }
 }