.ld-reason{
    padding-block: 14rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.ld-reason-title-wrap{
    max-width: 70.6rem;
    margin-inline: auto;
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ld-reason-label-ic{
    width: .8rem;
    height: .8rem;
    display: flex;
}
.ld-reason-label{
    background-color: var(--cl-blue-light);
    margin-bottom: 4rem;
}
.ld-reason-title{
    text-align: center;
}
.ld-reason-list-inner{
    display: flex;
    column-gap: 2.4rem;
}
.ld-reason-item{
    flex: 1;
    padding: 4rem;
    border-radius: 2rem;
    background-color: var(--cl-grey);
    min-height: 44rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ld-reason-item-img{
    max-width: 14rem;
    aspect-ratio: 1;
    border-radius: 1.2rem;
    background-color: var(--cl-white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ld-reason-item-img-inner{
    width: 4rem;
    display: flex;
}
.ld-reason-item-line{
    background-color: var(--cl-black-10);
}
.ld-reason-item-content{
    display: flex;
    row-gap: 2.4rem;
    flex-direction: column;
}
.ld-reason-item-sub{
    color: var(--cl-black-80);
}
.ld-reason-pagi{
    display: none;
}
@media only screen and (max-width : 991px) {
    .ld-reason-item-title .heading{
        font-size: 2.4rem;
    }
    .ld-reason-item{
        min-height: 41rem;
    }
    .ld-reason-item-img{
        width: 10rem;
    }
    .ld-reason{
        padding-block: 8rem;
    }
    .ld-reason-label{
        margin-bottom: 3.2rem;
    }
    .ld-reason-title-wrap{
        margin-bottom: 4rem;
    }
    .ld-reason-pagi{
        column-gap: .4rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        display: flex;
    }
    .ld-reason-pagi-item.active{
        background-color: var(--cl-orange);
    }
    .ld-reason-pagi-item{
        background-color: var(--cl-grey);
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
        transition-property: background-color;
        transition-duration: .4s;
        transition-timing-function: ease;
        opacity: 1 !important;
    }
    .ld-reason-list-inner{
        column-gap: 0rem;
    }
    .ld-reason-item.swiper-slide, .ld-reason-item{
        width: 38rem;
        flex: none;
    }
}
@media only screen and (max-width: 767px) {
    .ld-reason-label {
        margin-bottom: 2.4rem;
    }
    .ld-reason-pagi, .ld-reason-title-wrap{
        margin-bottom: 3.2rem;
    }
    .ld-reason-title.h2{
        font-size: 3.2rem;
    }
    .ld-reason-item{
        padding: 3.2rem;
        border-radius: 1.6rem;
    }
    .ld-reason{
        padding-block: 6.4rem 3rem;
        margin-bottom: 0;
    }
}