.header-inner{
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2rem;
    margin-inline: -2rem;
    margin-top: 2rem;
    align-items: center;
    transition: all .4s ease !important;
}
body .header .container{
    transition: padding-right .4s,padding-left .4s !important;
}
.header-logo-inner{
    display: flex;
    height: 4rem;
    color: var(--cl-black);
    transition: color .4s ease;
}
.header-logo-wrap{
    display: flex;
    align-items: center;
    column-gap: 6rem;
}
.header-menu{
    display: flex;
    column-gap: 4rem;
}
.header-menu-item{
    font-size: 1.4rem;
    color: var(--cl-black);
    text-decoration: none;
    transition: color .4s ease;
    text-transform: capitalize;
}
.header-menu-item:hover, .header-menu-item.active {
    color: var(--cl-orange) !important;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: absolute;
}
.header.fixed {
    position: fixed;
}
.header.on-hide .header-inner {
    transform: translateY(calc(-100% - 2px - 2rem));
}
.header.on-scroll .header-logo-inner, .header.on-scroll .header-menu-item{
    color: var(--cl-white);
}
.header.on-scroll .header-inner {
    background-color: var(--cl-black);
}
.header-act{
    display: flex;
    column-gap: 3.6rem;
    align-items: center;
}
.header-act-mob{
    display: none;
}
.header-signin{
    color: var(--cl-orange);
}
.header-menu-item:hover{
    color: var(--cl-orange);
}
.header-menu-item .line, .header-signin-line{
    height: .2rem;
}
.header-toggle{
    display: none;
}
.header-menu-item-ic{
    display: none;
}
.header-act-wrap{
    display: flex;
    column-gap: .8rem;
}
@media only screen and (min-width: 991px) {
    .header.on-expand .container {
        padding-inline: 4rem;
    }
}
@media  only screen and (max-width: 991px) {
    .header-toggle-ic-wrap, .header-toggle-txt-wrap{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .header-toggle-ic, .header-toggle-txt{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .header-toggle{
        border-radius: 50%;
        place-items: center;
        display: flex;
        background-color: var(--cl-white);
        padding: 1.6rem;
        border-radius: 1rem;
        border: 1px solid var(--cl-black-20);
        column-gap: .4rem;
    }
    .header-toggle-txt{
        transition: opacity .4s;  
    }
    .header-toggle-txt .txt{
        line-height: 1em;
    }
    .header-toggle-ic{
        width: 1.6rem;
        display: flex;
        transition: opacity .4s;
    }
    .header-toggle-ic.close, .header-toggle-txt.close{
        opacity: 0;
    }
   
    .header-signup{
        width: 100%;
        text-align: center;
    }
    .header-menu{
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: 36rem;
        right: 1.6rem;
        padding: 1.6rem 3.2rem;
        border-radius: 2rem;
        background-color: var(--cl-white);
        border: 1px solid var(--cl-black-20);
        opacity: 0;
        pointer-events: none;
        transition: .4s all;
    }
    .header.on-scroll .header-menu{
        top: calc(100% + 1rem);
    }
    .header.active .header-menu{
        opacity: 1;
        pointer-events: all;
    }
    .header.active .header-toggle-ic.close, .header.active .header-toggle-txt.close{
        opacity: 1;
    }
    .header.active .header-toggle-ic.open, .header.active .header-toggle-txt.open{
        opacity: 0;
    }
    .header-menu-item{
        padding: 1.6rem 0;
        width: 100%;
        border-bottom: 1px solid var(--cl-black-20);
        display: flex;
        justify-content: space-between;
    }
    .header-menu-item:nth-last-child(2){
        border-bottom: none;
    }
    .header.on-scroll .header-toggle{
        border: none;
    }
    .header-inner{
        padding: 1.6rem;
        margin-top: 1rem;
    }
    .header-menu-item-ic{
        display: flex;
        width: 1.6rem;
    }
    .header.on-scroll .header-menu-item{
        color: var(--cl-black);
    }
}
 @media only screen and (max-width: 767px) {
    .header-inner{
        margin-inline: 0;
        padding: 1rem 0;
        border-radius: 1.6rem;
        margin-top: 0;
    }
    
    .header.on-scroll .header-inner{
        padding-inline: 1rem;
        margin-top: 1rem;
    }
    .header-toggle-txt-wrap{
        display: none;
    }
    .header-menu{
        right: 0;
        left: 0;
        width: 100%;
        padding: 1.6rem 3.2rem 3.2rem;
        border-radius: 1.6rem;
    }
    .header-logo-inner{
        height: 3rem;
    }
    .header-act .btn{
        padding: 1.6rem;
    }
    .ld-feature-item-img {
        margin-bottom: 0;
    }
 }