<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog Listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}

{% module "blog-listing-hero" path="../modules/blog-listing-hero.module", label="blog-listing-hero" %}
{% module "blog-listing-main" path="../modules/blog-listing-main.module", label="blog-listing-main" %}
{% module "blog-media" path="../modules/blog-media.module", label="blog-media" %}
{% endblock body %}
