<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}


{% block body %}
  <div class="main-inner">
  {% module "landing-hero" path="../modules/landing-hero.module", label="landing-hero" %}
  {% module "landing-intro" path="../modules/landing-intro.module", label="landing-intro" %}
  {% module "landing-solution" path="../modules/landing-solution.module", label="landing-solution" %}
  {% module "landing-why" path="../modules/landing-why.module", label="landing-why" %}
  {% module "landing-cta" path="../modules/landing-cta.module", label="landing-cta" %}
  </div>
{% endblock body %}
