.footer{
    margin-bottom: 2rem;
}
.footer-inner{
    padding-inline: 6rem;
    position: relative;
    z-index: 4;
}
.footer-main{
    grid-column: 6/-1;
    margin-right: -6rem ;
    background: #001A33;
    border-radius: 4rem;
    padding: 6rem;
    display: flex;
    column-gap: 15rem;
}
.footer-left {
    padding-block: 6.4rem;
    position: relative;
    grid-column: 1/6;
    margin-left: -6rem;
    background: #001A33;
    border-radius: 4rem;
    padding-left: 6rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.footer-policy-wrap{
    display: flex;
    column-gap: 4rem;
}
.footer-policy-txt{
    color: var(--cl-black-40);
    transition: color.4s;
    display: flex;
    width: max-content;
}

.footer-logo-inner{
    height: 4rem;
    margin-bottom: 6rem;
}
.footer-logo-line{
    height: 1px;
    background-color: var(--cl-white-20);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.footer-menu-list{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}
.footer-menu-item-line{
    height: .2rem;
}
.footer-menu-item-txt{
    color: var(--cl-white-60);
    transition: color.4s;
    display: flex;
    width: max-content;
}
.footer-menu-item-txt:hover{
    color: var(--cl-orange);
}
.footer-info{
    padding-bottom: 2.4rem;
    position: relative;
}
.footer-info-left{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
}
.footer-info-right{
    grid-column: 6/-1;
    display: grid;
    grid-column-gap: var(--col-gap);
    grid-template-columns: repeat(2,1fr);
}
.footer-info-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--cl-white-20);
}
.footer-info-social-item{
    padding: 2.4rem;
    display: flex;
    border-radius: 1rem;
    border: 1px solid var(--cl-white-20);
    transition: background-color.4s, border-color.4s, color.4s;
    color: var(--cl-white-70);
}
.footer-info-social-item:hover{
    background-color: var(--cl-orange);
    border-color: var(--cl-orange);
    color: var(--cl-white);
}
.footer-info-social-item-ic{
    width: 3.2rem;
    display: flex;
}
.footer-info-social-list{
    display: flex;
    column-gap: .8rem;
}
.footer-info-email{
    margin-bottom: 2.7rem;
    margin-top: auto;
}
.footer-info-email-label, .footer-info-social-label{
    margin-bottom: .8rem;
    color: rgba(255, 255, 255, 0.40);
}
.footer-info-email-ic{
    margin-left: .8rem;
    width: 2.4rem;
    display: flex;
}
.footer-info-email-txt{
    display: flex;
    align-items: center;
    width: max-content;
    transition: color .4s;
    color: rgba(255, 255, 255, 0.60);
}
.footer-info-email-txt-inner{
    position: relative;
}
.footer-info-email-txt:hover{
    color: var(--cl-orange);
}

.footer-desc{
    padding-top: 2.4rem;
}
.footer-desc-txt, .footer-bot-menu-item{
    color: rgba(255, 255, 255, .4);
}
.footer-bot-menu{
    display: flex;
    column-gap: 7rem;
    align-items: center;
}
.footer-bot-menu-item{
    transition: color .4s;
}
.footer-bot-menu-item:hover{
    color: var(--cl-orange);
}
.footer-bot{
    grid-column: 1/-1;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.footer-info-address-label{
    margin-bottom: .8rem;
    color: rgba(255, 255, 255, .8);
}
.footer-info-address-txt{
    color: rgba(255, 255, 255, .4);
    transition: color .4s;
}
.footer-info-address-txt:hover{
    color: var(--cl-orange);
}
.footer-copyright{
    color: var(--cl-black-40);
}
.footer-menu-line{
    display: none;
}
 @media only screen and (max-width: 991px) {
    .footer-logo-inner{
        margin-bottom: 0;
    }
    .footer-info-wrap{
        margin-top: 2rem;
    }
    .footer-left{
        display: flex;
        justify-content: start;
        column-gap: 15.3rem;
        padding-block: 6rem;
        padding-left: 4.8rem;
        background-color: #001A33;
        margin-bottom: 1rem;
        border-radius: 2rem;
        grid-column: 1/-1;
        margin-left: 0;
        flex-direction: row;
    }
    .footer-left-info{
        display: flex;
        column-gap: 3.2rem;
    }
    .footer-info-email-label{
        margin-bottom: .8rem;
    }
    .footer-left .footer-info-email{
        display: block;
        margin: 0;
    }
    .footer-left .footer-info-email .txt-32{
        font-size: 2.4rem;
        line-height: 1.5em;
    }
    .footer-info-social-item-ic{
        width: 2rem;
    }
    .footer-bg{
        display: none;
    }
    .footer-inner{
        padding-inline: 0;
    }
    .footer-main{
        grid-column: 1/-1;
        margin-right: 0 ;
        border-radius: 2rem;
        padding: 4rem 2.2rem 4rem 4rem;
        column-gap: 11.4rem;
    }
    .footer-menu-list{
        row-gap: 3.2rem;
    }
    .footer-info-left{
        display: none;
    }
    .footer-info-right{
        grid-column: 1/-1;
    }
    .footer-info{
        padding-block: 0 4rem;
    }
    .footer-bot{
        padding-block: 1rem 2rem;
        padding-inline: 4.8rem;
    }
    
    .footer-copyright .txt-14{
        font-size: 1.6rem;
    }
    .footer{
        margin-bottom: 0;
    }
    .footer-logo-line{
        display: none;
    }
 }
 @media only screen and (max-width: 767px) {
    .footer-menu-line{
        display: block;
        margin-top: 3.2rem;
        background-color: var(--cl-white-20);
    }
    .footer-logo-inner{
        height: 3rem;
    }
    .footer-info-wrap{
        margin-top: 2.4rem;
    }
    .footer-info-left{
        grid-column: 1/-1;
        margin-bottom: 2rem;
    }
    .footer-info-right{
        grid-column: 1/-1;
    }
    .footer-info{
        padding-block: 0rem 3.2rem;
    }
    .footer-info-left{
        row-gap: 2rem;
    }
    .footer-bot{
        padding-inline: 0;
        padding-block: 1rem;
    }
    .footer-copyright .txt, .footer-bot-menu-item .txt{
        font-size: 1.2rem;
    }
    .footer-bot-menu{
        column-gap: 1rem;
    }
    .footer-policy-txt .txt-16 {
        font-size: 1.2rem;
    }
    .footer-policy-wrap{
        column-gap: .8rem;
    }
    .footer-info-address-txt br{
        display: none;
    }
    .footer-info-address-txt .txt-16{
        font-size: 1.4rem;
    }
    .footer-info-right{
        column-gap: 1.8rem;
    }
    .footer-left{
        border-radius: 1.6rem;
        padding-inline: 3.2rem;
        flex-direction: column;
        row-gap: 2.4rem;
    }
    .footer-left-info{
        flex-direction: column;
        row-gap: 2.4rem;
    }
    .footer-main{
        flex-direction: column; 
        padding: 6rem 3.2rem;
        border-radius: 1.6rem;   
    }
    
    .footer-menu-list{
        flex-direction: unset;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 2rem;
    }
 }